# Ignore everything
/*

# Not these files
!/.editorconfig
!/.gitattributes
!/.gitignore
!/angular.json
!/package-lock.json
!/package.json
!/README.md
!/tsconfig.json
!/tslint.json

# Not these directories
!/dist
!/e2e
!/src
