<!-- Liked card -->
<div
    class="card"
    [hidden]="isCardHidden()"
>
    <div class="card-body">
        <h5 class="card-title">Liked videos:</h5>
        <h6 class="card-subtitle text-muted mb-2 h-2-5-rem">{{getCardSubTitle()}}</h6>

        <form [hidden]="isCardContentHidden()">
            <div class="form-row">
                <div class="form-group col">
                    <input
                        #searchInput
                        type="text"
                        class="form-control"
                        placeholder="Search"
                        (keyup)="runFilter()"
                    >
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-auto">
                    <app-checkbox
                        #selectAllCB
                        text="Select all"
                        (click)="runFilter()"
                    ></app-checkbox>
                </div>

                <div class="form-group col-auto">
                    <app-checkbox
                        #showSortedCB
                        text="Show sorted"
                        (click)="runFilter()"
                    ></app-checkbox>
                </div>
            </div>
        </form>

        <ul
            class="list-group"
            [hidden]="isCardContentHidden()"
        >
            <li
                class="list-group-item list-group-item-action my-2 px-2 rounded c-pointer"
                *ngFor="let likedItem of getLikedItems(); trackBy: trackLikedBy"
                [ngClass]="likedItem.getNgClass()"
                [hidden]="likedItem.isHidden()"
                (click)="likedItem.invertSelect()"
                (mouseleave)="likedItem.hideBorder()"
                (mouseover)="likedItem.showBorder()"
            >
                <div class="row no-gutters">
                    <div class="col-auto d-flex mr-2">
                        <button
                            type="button"
                            class="btn btn-outline-secondary btn-sm no-glow"
                            (click)="playVideo($event, likedItem)"
                        >
                            <i class="fas fa-play"></i>
                        </button>
                    </div>

                    <div class="col text-wrap-break">
                        <span>{{likedItem.getVideo().getTitle()}}</span>

                        <hr>
                        <span>{{likedItem.getVideo().getChannelTitle()}}</span>

                        <div
                            class="status-bar"
                            [hidden]="likedItem.isStatusBarHidden()"
                        >
                            <hr>

                            <button
                                type="button"
                                class="btn btn-outline-secondary btn-sm float-right no-glow"
                                (click)="removeFromPlaylist($event, likedItem)"
                            >
                                <i class="fas fa-times"></i>
                            </button>

                            <span>In playlist "{{likedItem.getPlaylistName()}}"</span>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<app-player #player></app-player>
