<div
    class="card"
    [hidden]="isCardHidden()"
>
    <div class="card-body">
        <h5 class="card-title">Liked videos:</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{getCardSubTitle()}}</h6>

        <form [hidden]="isCardContentHidden()">
            <div class="form-row">
                <div class="form-group col">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Search"
                        #searchInput
                        (keyup)="runFilter()"
                    >
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col">
                    <div class="custom-control custom-checkbox">
                        <input
                            type="checkbox"
                            class="custom-control-input"
                            id="select-all-cb"
                            #selectAllCB
                            (click)="runFilter()"
                        >
                        <label
                            class="custom-control-label no-select"
                            for="select-all-cb"
                        >Select all</label>
                    </div>
                </div>

                <div class="form-group col">
                    <div class="custom-control custom-checkbox">
                        <input
                            type="checkbox"
                            class="custom-control-input"
                            id="show-sorted-cb"
                            #showSortedCB
                            (click)="runFilter()"
                        >
                        <label
                            class="custom-control-label no-select"
                            for="show-sorted-cb"
                        >Show sorted</label>
                    </div>
                </div>
            </div>
        </form>

        <ul
            class="list-group"
            [hidden]="isCardContentHidden()"
        >
            <li
                class="list-group-item list-group-item-action my-2 rounded"
                *ngFor="let likedItem of getLikedItems()"
                [draggable]="true"
                [hidden]="likedItem.isHidden()"
                [ngClass]="likedItem.getNgClass()"
                (click)="likedItem.onClick()"
                (dragstart)="likedItem.onDragStart()"
            >
                <span>{{likedItem.getVideo().getTitle()}}</span>

                <hr>
                <span>{{likedItem.getVideo().getChannelTitle()}}</span>

                <div
                    class="status-bar"
                    [hidden]="likedItem.isStatusBarHidden()"
                >
                    <hr>
                    <span>In playlist "{{likedItem.getPlaylistName()}}"</span>
                </div>
            </li>
        </ul>
    </div>
</div>
