<div class="modal-header">
    <h5 class="modal-title">Create playlist</h5>
    <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="getActiveModal().dismiss('Cross click')"
    >
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form>
        <div class="form-row">
            <div class="form-group col">
                <!-- Using keyup to run change update detection in time. -->
                <input
                    #playlistNameInput
                    type="text"
                    class="form-control"
                    placeholder="Type playlist name here"
                    (keyup)="true"
                >
            </div>
        </div>

        <div class="form-row">
            <div class="col-auto">
                <app-checkbox
                    #isPlaylistPrivateCB
                    text="Private"
                ></app-checkbox>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button
        type="button"
        class="btn btn-primary no-glow"
        [disabled]="isCreateBtnDisabled()"
        (click)="createPlaylist()"
    >Create</button>

    <button
        type="button"
        class="btn btn-light no-glow"
        (click)="getActiveModal().close('Close click')"
    >Close</button>
</div>
