<div class="container" fxLayout="row wrap" fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex>
        <app-header></app-header>
    </div>
</div>

<div class="container main" fxLayout="row wrap" fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex>
        <app-liked></app-liked>
    </div>
    <div fxFlex>
        <app-playlists></app-playlists>
    </div>
</div>

<div class="container" fxLayout="row wrap" fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex>
        <app-footer></app-footer>
    </div>
</div>
