<div
    class="card"
    [hidden]="isCardHidden()"
>
    <div class="card-body">
        <h5 class="card-title">Playlists:</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{getCardSubTitle()}}</h6>

        <form [hidden]="isCardFormHidden()">
            <div class="form-row">
                <div class="form-group col">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Search"
                        #searchInput
                        (keyup)="runFilter()"
                    >
                </div>
            </div>

            <!-- TODO: Add 'Create playlist' button. -->
        </form>

        <ul class="list-group">
            <li
                class="list-group-item rounded my-2 bg-light"
                *ngFor="let playlistItem of getPlaylistItems()"
                [hidden]="playlistItem.isHidden()"
                (dragover)="playlistItem.onDragOver($event)"
                (drop)="onDropOverItem($event, playlistItem)"
            >
                {{playlistItem.getPlaylist().getTitle()}}
            </li>
        </ul>
    </div>
</div>
