<!-- Playlist card -->
<div
    class="card"
    [hidden]="isCardHidden()"
>
    <div class="card-body">
        <h5 class="card-title">Playlists:</h5>
        <h6 class="card-subtitle mb-2 text-muted h-2-5-rem">{{getCardSubTitle()}}</h6>

        <form [hidden]="isCardContentHidden()">
            <div class="form-row">
                <div class="form-group col">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Search"
                        #searchInput
                        (keyup)="runFilter()"
                    >
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col h-2-5-rem">
                    <button
                        type="button"
                        class="btn btn-primary btn-sm"
                        (click)="openModal(createPlaylistModal)"
                    >
                        <i class="fas fa-plus"></i>
                        <span>&ensp;Create playlist</span>
                    </button>
                </div>
            </div>
        </form>

        <ul
            class="list-group"
            [hidden]="isCardContentHidden()"
        >
            <li
                class="list-group-item rounded my-2 bg-light"
                *ngFor="let playlistItem of getPlaylistItems()"
                [hidden]="playlistItem.isHidden()"
                (dragover)="playlistItem.onDragOver($event)"
                (drop)="onDropOverItem($event, playlistItem)"
            >
                {{playlistItem.getPlaylist().getTitle()}}
            </li>
        </ul>
    </div>
</div>


<!-- Create playlist modal -->
<!--
    Due to difficuly of getting DOM variables (#someElement) from ng-bootstrap modal in component,
    using these variables as arguments to function calls.
-->
<ng-template
    #createPlaylistModal
    let-close="close('Close click')"
    let-dismiss="dismiss('Cross click')"
>
    <!-- Modal header -->
    <div class="modal-header">
        <h5 class="modal-title">Create playlist</h5>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="dismiss"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
        <form>
            <div class="form-row">
                <div class="form-group col">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Type playlist name here"
                        #playlistNameInput
                    >
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col">
                    <div class="custom-control custom-checkbox">
                        <input
                            type="checkbox"
                            class="custom-control-input"
                            id="is-playlist-private-cb"
                            #isPlaylistPrivateCB
                        >
                        <label
                            class="custom-control-label no-select"
                            for="is-playlist-private-cb"
                        >Private</label>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-primary"
            [hidden]="isCreateBtnHidden(playlistNameInput)"
            (click)="createPlaylist(playlistNameInput, isPlaylistPrivateCB)"
        >Create</button>

        <button
            type="button"
            class="btn btn-light"
            (click)="close"
        >Close</button>
    </div>
</ng-template>
