<div class="card">
    <div class="card-body">
        <div class="row no-gutters justify-content-center">
            <div class="col-auto mx-1">
                <button
                    type="button"
                    class="btn btn-primary no-glow"
                    [disabled]="isSignInBtnDisabled()"
                    (click)="signIn()"
                >{{getSignInBtnText()}}</button>
            </div>

            <div class="col-auto mx-1">
                <button
                    type="button"
                    class="btn btn-primary no-glow"
                    [disabled]="isRefreshBtnDisabled()"
                    (click)="refresh()"
                >Refresh</button>
            </div>

            <div class="col-auto mx-1">
                <a
                    href="https://github.com/SCP002/youtube-sorter/blob/master/README.md#youtube-sorter"
                    role="button"
                    class="btn btn-primary no-glow"
                >About</a>
            </div>

            <div class="col-auto mx-1">
                <button
                    type="button"
                    class="btn btn-primary no-glow"
                    (click)="openCidModal()"
                >Change Client ID</button>
            </div>
        </div>
    </div>

    <div class="card-footer text-center h-3-rem">
        {{getCardFooterText()}}
    </div>
</div>
