<!-- Header card -->
<div class="card">
    <div class="card-body">
        <form>
            <div class="form-row">
                <div class="form-group col-auto">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="signIn()"
                    >{{getSignInBtnText()}}</button>
                </div>

                <div class="form-group col-auto">
                    <button
                        type="button"
                        class="btn btn-primary"
                        [hidden]="isRefreshBtnHidden()"
                        (click)="refresh()"
                    >Refresh</button>
                </div>

                <div class="form-group col-auto">
                    <button
                        type="button"
                        class="btn btn-primary"
                        (click)="openModal(apiKeyModal)"
                    >Change API key</button>
                </div>

                <!-- TODO: Add 'About' button. -->
            </div>
        </form>
    </div>

    <div class="card-footer">
        {{getCardFooterText()}}
    </div>
</div>


<!-- Api key modal -->
<!--
    Due to difficuly of getting DOM variables (#someElement) from ng-bootstrap modal in component,
    using these variables as arguments to function calls.
-->
<ng-template
    #apiKeyModal
    let-close="close('Close click')"
    let-dismiss="dismiss('Cross click')"
>
    <!-- Modal header -->
    <div class="modal-header">
        <h5 class="modal-title">Change API key</h5>
        <button
            type="button"
            class="close"
            aria-label="Close"
            (click)="dismiss"
        >
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
        <!-- TODO: Add description and warning text. -->
        <!-- TODO: Display current API key. -->

        <form>
            <div class="form-row">
                <div class="form-group col">
                    <input
                        type="text"
                        class="form-control"
                        placeholder="Paste your key here"
                        #apiKeyInput
                    >
                </div>
            </div>
        </form>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-primary"
            (click)="setApiKey(apiKeyInput)"
        >Change</button>

        <button
            type="button"
            class="btn btn-primary"
            (click)="setDefaultApiKey()"
        >Set default</button>

        <button
            type="button"
            class="btn btn-light"
            (click)="close"
        >Close</button>
    </div>
</ng-template>
