@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

.btn:focus, .btn:active {
    box-shadow: none;
    outline: none !important;
}

.c-pointer {
    cursor: pointer;
}

.h-2-5-rem {
    height: 2.5rem;
}

.h-3-rem {
    height: 3rem;
}
